.overflow-WK9Ogt{
  font-family:  GOST type B Standard;
 font-size:1.16em;

}

.name-uJV0GL{
  font-size:0.9em;

}

.addButtonIcon-2CbG1X{
  color:#25262a;
}

.actionIcon-PgcMM2{
  color:#32353a;
}

.icon-1DeIlz{
  color:#ff8e02 !important;
}

#channels{background:#25262a;}

.name-3l27Hl.container-2ax-kl{
  color:#4e555b;
  font-size:0.9em;
}

.scrollerInner-2YIMLh{
  background:#2f3035;
}

.form-2fGMdU{
   background:#2f3035;

}

.layerContainer-yqaFcK{
  background:#2f3035;
}

.content-yTz4x3{
  background:#2f3035; !important
}

.scroller-2LSbBU{
  color:red !important ;
  background: 2f3035
}

.scrollerBase{
  color:red !important ;
  background: 

}

#private-channels{
  background: #25262a;
}
